The store sells movies and lets the user rent/return them.
The store starts by adding movies to its collection.
A movie is described by its name, format, and rating.

               Test Cases
----------------------------------------
- adding a movie
    - Test if stroe contains the movei after it has been added.
- selling a movie
    - Test if movie is no longer in the store after selling.
    - Test for an IllagalStateExpression for selling rented movie.
- renting a movie
    - Test if movie becomes rented.
- returning a movie
    - Test if movie is available again.
